.Button{
    background-color: 'transparent';
    color: 'black';
    font-size: '16px';
    font-weight: 'normal';
    padding: '1rem';
    margin: '0 1rem 0 1rem';
    cursor: 'pointer';
    text-align: 'center';
    text-decoration: 'none';
    border: 'none';
    text-transform: 'capitalize';
}

.Button:hover{
    transform: scale(1.2);
    transition-duration: 0.1s;
}